<div class='container-fluid '>
<div class='row   '>
    <div class='col d-flex justify-content-around section'>
       <div class="card cards ">
          <div class="card-body font-colour">
             <h5 class="card-title ">Project Description</h5>
             <p class="card-text">A COVID-19 dashboard that provides the newest statistics available via graphs. The dashboard is a project for a second year web programming module. </p>
             <a href="#" class="card-link link">API Repo</a>
          </div>
       </div>
    </div>
    <div class='col d-flex justify-content-around section'>
       <div class="card cards">
          <div class="card-body font-colour">
             <h5 class="card-title">Project Creator</h5>
             <p class="card-text">The dashboard was created by Ronan Duffy, a 2nd year software development student studying at IT Sligo. Ronan has an interest in full stack development </p>
             <a href="#" class="card-link link">Github Repo's</a>
          </div>
       </div>
    </div>
</div>
</div>